extends ../../_partials/cviceni-layout.pug

prepend variables
  //- @value: name of JSON file
  - const cv = cviceniProcUpraviliReportaz;

block title
  +cviceniMetaDescription(cv.cviceni.nazev, cv.cviceni.anotace ? cv.cviceni.anotace.verejna : cv.cviceni.popis, cv.cviceni.klicovaSlova)

block cviceni
  //- Use automatic generation based on JSON data (default, requires standard tools, layout, design and notation…)
  //- order is defined by JSON
  include ../../_partials/slides.pug

  //- Use manual notation in case of custom, experimental tools, layout, design and notation
  //- order is defined in PUG
  //- +slide(cv.slajd[0])
  //-   +media(cv.slajd[0].media)
  //-   +editorPlaceholderNaTagy(cv.slajd[0].editorPlaceholderNaTagy)
  //-   +klicovaSlova(cv.slajd[0].klicovaSlova)
  //-   +popiskyPramenu(cv.slajd[0].popisky)
  //-   +prameny(cv.slajd[0].prameny)
  //-   +razeni(cv.slajd[0].razeni)
  //-   +svg(cv.slajd[0].svg)
  //-   +tabulkaObecna(cv.slajd[0].tabulka)
  //-   +testKviz(cv.slajd[0].testKviz)
  //-   +textovyEditor(cv.slajd[0].textovyEditor)
  //-   +uzivatelskyText(cv.slajd[0].uzivatelskyText)
